<ion-header>
  <ion-toolbar>
    <ion-title>Partie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ng-container *ngIf="round$ | async as round">
      <ion-note class="ion-text-center"
        ><h2 id="round-subtitle">Tour actuel</h2></ion-note
      >
      <hr />
      <ion-text class="ion-text-center"
        ><h1 id="round-title">{{ round.role | roundName }}</h1></ion-text
      >

      <ion-list>
        <ion-radio-group
          (ionChange)="onSinglePlayerChecked($event)"
          [allowEmptySelection]="round.minSelectable === 0"
          [value]="selectedPlayer"
        >
          <lgmj-player
            *ngFor="let player of (players$ | async)"
            [player]="player"
            [displayMode]="playerDisplayMode"
            [disabled]="!round.selectablePlayers.includes(player.id)"
            (checkedChange)="onMultiPlayerChecked(player.id, $event)"
          ></lgmj-player>
        </ion-radio-group>
      </ion-list>

      <ion-button
        expand="block"
        class="ion-margin-horizontal"
        color="success"
        [disabled]="submitDisabled"
        (click)="onSubmit()"
      >
        Valider
      </ion-button>
    </ng-container>
  </div>
</ion-content>
