hr {
  width: 15%;

  @media (prefers-color-scheme: dark) {
    background-color: white;
  }
}

#round-subtitle {
  text-transform: uppercase;
  font-size: 15px;
}

#round-title {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 10px;
}
