<ion-header>
  <ion-toolbar>
    <ion-title>Partie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-list>
      <ion-radio-group (ionChange)="onSinglePlayerChecked($event)">
        <lgmj-player
          *ngFor="let player of (players$ | async)"
          [player]="player"
          [displayMode]="playerDisplayMode"
        ></lgmj-player>
      </ion-radio-group>
    </ion-list>

    <ion-button
      expand="block"
      class="ion-margin-horizontal"
      (click)="wolfAttack()"
      >Attaque loup-garou</ion-button
    >
    <ion-button expand="block" class="ion-margin-horizontal" (click)="health()"
      >Soin sorciere</ion-button
    >
  </div>
</ion-content>
