<ion-header>
  <ion-toolbar>
    <ion-title>Fin de la partie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-note class="ion-text-center">
      <h2 id="victory-subtitle">{{ victoryTitle }}</h2>
    </ion-note>
    <hr />
    <ion-text class="ion-text-center">
      <h1 id="victory-title">{{ victory | victoryName }}</h1>
    </ion-text>

    <ion-button class="ion-margin-horizontal" routerLink="/"
      >Retourner à l'accueil</ion-button
    >
  </div>
</ion-content>
