<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-list>
      <ion-radio-group (ionChange)="onSinglePlayerChecked($event)">
        <lgmj-player
          *ngFor="let player of players"
          [player]="player"
          [displayMode]="playerDisplayMode"
          (checkedChange)="onMultiPlayerChecked(player.id, $event)"
        ></lgmj-player>
      </ion-radio-group>
    </ion-list>
  </div>
</ion-content>
