.body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
  justify-content: center;
  gap: var(--spacing-1);

  .victory-subtitle {
    font-size: var(--font-size-l);
    text-transform: uppercase;
  }

  .victory-title {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-medium);
    text-transform: uppercase;
    margin-bottom: var(--spacing-2);
  }

  hr {
    width: 15%;
  }
}
