.form-container {
  .form-group {
    align-items: center;
    display: flex;
    gap: var(--spacing-1);
    padding: var(--spacing-1);

    &:not(:last-child) {
      border-bottom: 1px solid var(--light-border-color);
    }

    input.form-control {
      margin-left: auto;

      &[type='number'] {
        border-radius: var(--input-radius);
        border: 1px solid var(--main-text-color);
        font-size: var(--font-size-m);
        height: 1rem;
        padding: var(--spacing-05);
        text-align: end;
        width: 2rem;
      }

      &[type='checkbox'] {
        height: 1.25rem;
        width: 1.25rem;
      }
    }
  }
}
