@mixin player-element {
  align-items: center;
  background-color: white;
  display: flex;
  gap: var(--spacing-2);
  padding: var(--spacing-05) var(--spacing-1);

  .drag {
    color: var(--secondary-text-color);
    margin-left: auto;
  }
}

lgmj-new-player {
  background-color: white;
  display: block;
  position: sticky;
  top: var(--header-height);
  z-index: 1;
}

.warning {
  border-bottom: 1px solid var(--light-border-color);
  display: flex;
  gap: var(--spacing-2);
  padding: var(--spacing-1);

  fa-icon {
    color: var(--warning-background-color);
  }
}

.player-list {
  display: block;

  .player {
    @include player-element;

    &:not(:last-child) {
      border-bottom: 1px solid var(--light-border-color);
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow:
    0 5px 5px -3px rgb(0 0 0 / 20%),
    0 8px 10px 1px rgb(0 0 0 / 14%),
    0 3px 14px 2px rgb(0 0 0 / 12%);
  opacity: 0.9;

  @include player-element;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating,
.player-list.cdk-drop-list-dragging .player:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
