<ion-item [disabled]="disabled">
  <ng-container [ngSwitch]="displayMode">
    <!-- REMOVE mode -->
    <ion-button
      *ngSwitchCase="playerDisplayModeEnum.REMOVE"
      (click)="onRemove()"
      slot="start"
      color="danger"
      shape="round"
    >
      <ion-icon slot="icon-only" name="remove"></ion-icon>
    </ion-button>

    <!-- SELECT_MULTI mode -->
    <ion-checkbox
      *ngSwitchCase="playerDisplayModeEnum.SELECT_MULTI"
      slot="start"
      (ionChange)="onCheckedChange($event)"
    ></ion-checkbox>

    <!-- SELECT_SINGLE mode -->
    <ion-radio
      *ngSwitchCase="playerDisplayModeEnum.SELECT_SINGLE"
      slot="start"
      [value]="player.id"
    ></ion-radio>
  </ng-container>

  <ion-thumbnail slot="start">
    <img
      [src]="player.role | playerRoleImage"
      [alt]="player.role | playerRoleName"
    />
  </ion-thumbnail>
  <ion-label>
    <h2>{{ player.name }}</h2>
    <p>{{ player.role | playerRoleName }}</p>
  </ion-label>
</ion-item>
