<lgmj-header title="Nouvelle partie - Joueurs" />

<ion-content>
  <div id="container">
    <ion-item lines="full">
      <ion-icon slot="start" name="warning" size="large" color="warning" />
      <em>Respectez la position réelle des joueurs</em>
    </ion-item>
    <lgmj-new-player (newPlayer)="addPlayer($event)" />

    <ion-list id="player-list">
      <ion-reorder-group
        (ionItemReorder)="reorderPlayer($event)"
        [disabled]="false"
      >
        <ion-item
          *ngFor="let player of players$ | async; trackBy: playerTrackBy"
        >
          <ion-button
            (click)="removePlayer(player.id)"
            slot="start"
            color="danger"
            shape="round"
          >
            <ion-icon slot="icon-only" name="remove" />
          </ion-button>
          <ion-label>
            <h2>{{ player.name }}</h2>
          </ion-label>
          <ion-reorder slot="end" />
        </ion-item>
      </ion-reorder-group>
    </ion-list>

    <div id="submit-block">
      <ion-button
        [disabled]="!canValidate"
        expand="block"
        routerLink="/new-game/roles"
        class="ion-margin-horizontal"
      >
        Valider
      </ion-button>
    </div>
  </div>
</ion-content>
