<ion-header>
  <ion-toolbar>
    <ion-title>Nouvelle partie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <lgmj-new-player
      [roles]="availableRoles"
      (newPlayer)="addPlayer($event)"
    ></lgmj-new-player>

    <ion-list id="player-list">
      <ion-reorder-group
        (ionItemReorder)="reorderPlayer($event)"
        [disabled]="false"
      >
        <lgmj-player
          *ngFor="let player of players"
          [player]="player"
          [displayMode]="playerDisplayMode"
          (remove)="removePlayer(player.id)"
        ></lgmj-player>
      </ion-reorder-group>
    </ion-list>

    <ion-button
      [disabled]="players.length === 0"
      expand="block"
      (click)="createGame()"
      id="start-btn"
    >
      Démarrer
    </ion-button>
  </div>
</ion-content>
