<section class="select-overlay" [class.hidden]="isHidden()">
  <div
    class="backdrop"
    (click)="selectOption(undefined)"
    (keyup.enter)="selectOption(undefined)"
    tabindex="0"
  ></div>
  <div class="select">
    <header>
      <span>{{ content()?.header }}</span>
    </header>
    <ul class="options">
      @for (option of content()?.options; track option.value) {
        <li
          class="option"
          [class.active]="option.active"
          (click)="selectOption(option.value)"
          (keyup.enter)="selectOption(option.value)"
          tabindex="0"
        >
          {{ option.label }}
        </li>
      }
    </ul>
    <footer>
      <span
        (click)="selectOption(undefined)"
        (keyup.enter)="selectOption(undefined)"
        tabindex="0"
        >ANNULER</span
      >
    </footer>
  </div>
</section>
