<lgmj-header title="Nouvelle partie - Rôles"></lgmj-header>

<ion-content>
  <div id="container">
    <ion-list id="player-list">
      <lgmj-player
        *ngFor="let player of players$ | async; trackBy: playerTrackBy"
        [player]="player"
        [displayMode]="playerDisplayMode"
        [selectableRoles]="availableRoles"
        (roleChange)="changeRole(player.id, $event)"
      ></lgmj-player>
    </ion-list>

    <div id="submit-block">
      <ion-button
        [disabled]="cannotCreate"
        expand="block"
        (click)="createGame()"
        class="ion-margin-horizontal"
      >
        Démarrer
      </ion-button>
      <ion-button
        routerLink="/new-game"
        expand="block"
        class="ion-margin-horizontal"
        color="danger"
      >
        Retour
      </ion-button>
    </div>
  </div>
</ion-content>
