<div class="header">
  <fa-icon [icon]="faBars" size="lg" (click)="isMenuHidden = false" />
  <h1>{{ title }}</h1>
</div>

<div class="menu-overlay" [class.hidden]="isMenuHidden">
  <div class="backdrop" (click)="isMenuHidden = true"></div>
  <div class="menu">
    <div class="header">
      <span>Menu</span>
    </div>
    <div class="content">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Accueil</a
      >
      <a *ngIf="isGameInProgress()" routerLink="/game" routerLinkActive="active"
        >Partie en cours</a
      >
      <a routerLink="/roles-choice" routerLinkActive="active"
        >Nouvelle partie</a
      >
      <a routerLink="/roles-rules" routerLinkActive="active"
        >Règles des rôles</a
      >
      <a routerLink="/status-legends" routerLinkActive="active"
        >Légende des statuts</a
      >
      <div class="divider"></div>
      <a routerLink="/options" routerLinkActive="active">Options</a>
    </div>
  </div>
</div>
