<div class="select-overlay" [class.hidden]="isHidden">
  <div class="backdrop" (click)="selectOption(undefined)"></div>
  <div class="select">
    <div class="header">
      <span>{{ content?.header }}</span>
    </div>
    <div class="options">
      @for (option of content?.options; track option.value) {
        <span
          class="option"
          [class.active]="option.active"
          (click)="selectOption(option.value)"
          >{{ option.label }}</span
        >
      }
    </div>
    <div class="footer">
      <span (click)="selectOption(undefined)">ANNULER</span>
    </div>
  </div>
</div>
