@if (roundConfig(); as currentRound) {
<header>
  <div class="round-subtitle">
    @if (isBeforeGame()) {
    <span>Avant-partie</span>
    } @else {
    <span class="day-icon">{{ currentRound.isDuringDay ? '☀️' : '🌙' }}</span>
    {{ currentRound.isDuringDay ? 'Jour' : 'Nuit' }} {{ dayCount() }}
    <span class="day-icon">{{ currentRound.isDuringDay ? '☀️' : '🌙' }}</span>
    }
  </div>
  <hr />
  <div class="round-title">{{ currentRound.round | roundName }}</div>
</header>
<main class="player-list">
  @for (player of players(); track player.id) {
  <lgmj-player-card
    [player]="player"
    [displayMode]="playerDisplayMode() === PlayerDisplayModeEnum.EDIT_ROLE && !currentRound.selectablePlayers.includes(player.id) ? PlayerDisplayModeEnum.DEFAULT : playerDisplayMode()"
    [disabled]="!currentRound.selectablePlayers.includes(player.id)"
    [checked]="playerDisplayMode() === PlayerDisplayModeEnum.SELECT_MULTI ? selectedPlayers().has(player.id) : selectedPlayer() === player.id"
    [noSelfRole]="true"
    [selectableRoles]="currentRound.selectableRoles || []"
    (checkedChange)="onPlayerChecked(player.id, $event)"
    (roleChange)="onRoleSelect($event)"
  />
  }
</main>
<section class="submit-block">
  <button
    class="btn success"
    [disabled]="submitDisabled()"
    (click)="onSubmit()"
  >
    VALIDER
  </button>
  @if (displayEqualityButton()) {
  <button class="btn warning" (click)="onEquality()">EGALITE</button>
  }
</section>
}
