<lgmj-header title="Partie en cours"></lgmj-header>

<ion-content>
  <div id="container">
    <ng-container *ngIf="round$ | async as round">
      <div id="round-header">
        <ion-note class="ion-text-center">
          <h2 id="round-subtitle">
            {{ round.isDuringDay ? '☀️' : '🌙' }} Tour actuel {{
            round.isDuringDay ? '☀️' : '🌙' }}
          </h2>
        </ion-note>
        <hr />
        <ion-text class="ion-text-center"
          ><h1 id="round-title">{{ round.role | roundName }}</h1></ion-text
        >
      </div>

      <ion-list>
        <ion-radio-group
          (ionChange)="onSinglePlayerChecked($event)"
          [allowEmptySelection]="round.minSelectable === 0"
          [value]="selectedPlayer"
        >
          <lgmj-player
            *ngFor="let player of (players$ | async)"
            [player]="player"
            [displayMode]="playerDisplayMode"
            [disabled]="!round.selectablePlayers.includes(player.id)"
            [checked]="selectedPlayers.has(player.id)"
            (checkedChange)="onMultiPlayerChecked(player.id, $event)"
          ></lgmj-player>
        </ion-radio-group>
      </ion-list>

      <div id="submit-block">
        <ion-button
          expand="block"
          class="ion-margin-horizontal"
          color="success"
          [disabled]="submitDisabled"
          (click)="onSubmit()"
        >
          Valider
        </ion-button>
      </div>
    </ng-container>
  </div>
</ion-content>
