<ion-item
  [disabled]="player.isDead || disabled"
  [color]="player.isDead ? 'medium' : ''"
>
  <ion-icon *ngIf="player.isDead; else formElement" slot="start" name="skull" />

  <ion-thumbnail
    slot="start"
    *ngIf="player.role !== playerRoleEnum.NOT_SELECTED"
  >
    <img
      [ngSrc]="player.role | playerRoleImage"
      [alt]="player.role | playerRoleName"
      width="250"
      height="250"
      class="role-img"
    />
  </ion-thumbnail>

  <ion-label>
    <h2>{{ player.name }}</h2>
    <p>{{ player.role | playerRoleName }}</p>
  </ion-label>

  <ng-container *ngTemplateOutlet="endElement" />
</ion-item>

<ng-template #formElement>
  <ng-container [ngSwitch]="displayMode">
    <!-- SELECT_MULTI mode -->
    <ion-checkbox
      *ngSwitchCase="playerDisplayModeEnum.SELECT_MULTI"
      slot="start"
      [checked]="checked"
      (ionChange)="onCheckedChange($event)"
    />

    <!-- SELECT_SINGLE mode -->
    <ion-radio
      *ngSwitchCase="playerDisplayModeEnum.SELECT_SINGLE"
      slot="start"
      [value]="player.id"
    />
  </ng-container>
</ng-template>

<ng-template #endElement>
  <ng-container [ngSwitch]="displayMode">
    <ion-select
      *ngSwitchCase="playerDisplayModeEnum.EDIT_ROLE"
      placeholder="Rôle"
      [legacy]="true"
      interface="action-sheet"
      [interfaceOptions]="customInterfaceOptions"
      cancelText="Annuler"
      [value]="player.role"
      (ionChange)="onRoleChange($event)"
    >
      <ion-select-option
        *ngFor="let role of sortedRoles; trackBy: roleTrackBy"
        [value]="role"
        >{{ role | playerRoleName }}</ion-select-option
      >
    </ion-select>

    <div slot="end" *ngSwitchDefault>
      <span
        class="status-icon"
        *ngFor="let status of sortedStatuses; trackBy: statusTrackBy"
        >{{ status | playerStatusIcon }}</span
      >
    </div>
  </ng-container>
</ng-template>
