:root {
  --header-height: 3rem;
  --input-radius: 5px;

  --spacing-05: 0.5rem;
  --spacing-075: 0.75rem;
  --spacing-1: 1rem;
  --spacing-2: 2rem;

  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-very-bold: 900;

  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;

  --primary-background-color: #3880ff;
  --danger-background-color: #eb445a;
  --warning-background-color: #ffc409;
  --success-background-color: #2dd36f;
  --light-background-color: #f4f5f8;
  --dark-background-color: #4e4e4e;

  --light-border-color: #e9e9e9;

  --main-text-color: #4b4b4b;
  --secondary-text-color: #b2b2b2;
}
